<template>
	<article class="hentry">
		<header class="entry-header">
			<div class="entry-thumbnail">
				<NuxtLink :to="'/article/' + article.id"
					><img
						:src="article.image"
						class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
						:alt="'img-' + article.id"
				/></NuxtLink>
			</div>
			<h2 class="entry-title">
				<NuxtLink :to="'/article/' + article.id">{{ article.title }}</NuxtLink>
			</h2>
			<span class="portfoliotype">
				{{ article.createdAt }}
			</span>
		</header>
	</article>
</template>

<script setup lang="ts">
interface IArticle {
	id: string
	createdAt: string
	title: string
	preview?: string
	image: string
	description?: string
}
interface IProps {
	article: IArticle
}
const props = defineProps<IProps>()
</script>

<style lang="scss" scoped></style>
