<template>
	<article class="portfolio hentry">
		<header class="entry-header">
			<div class="entry-thumbnail">
				<img
					width="800"
					height="533"
					:src="article.image"
					class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
					alt="p1"
				/>
			</div>
			<h1 class="entry-title">{{ article.title }}</h1>
			<span class="portfoliotype">{{ article.createdAt }}</span>
		</header>
		<div class="entry-content">
			<p>{{ article.preview }}</p>

			<blockquote>
				<p>
					{{ article.description }}
				</p>
			</blockquote>
		</div>
	</article>
</template>

<script setup lang="ts">
const route = useRoute()
const id = route.params.id
const { data: article } = await useFetch(
	`https://6082e3545dbd2c001757abf5.mockapi.io/qtim-test-work/posts/${id}`,
)
console.log(article)
</script>

<style scoped></style>
