<template>
	<div class="grid portfoliogrid">
		<CardArticle v-for="article in articles" :key="article.id" :article="article" />
	</div>
	<Pagination :pages="params.allPage()" :currentPage="currentPage" />
</template>

<script setup lang="ts">
const { data } = await useFetch(
	'https://6082e3545dbd2c001757abf5.mockapi.io/qtim-test-work/posts/',
)
const params = {
	perPage: 6,
	allPage: function () {
		return Math.floor(data.value.length / this.perPage)
	},
}
const { currentRoute } = useRouter()
const currentPage = ref(1)

const articles = computed(() =>
	data.value.filter(i => (currentPage.value-1) * params.perPage < i.id && i.id <= currentPage.value * params.perPage),
)

watch(currentRoute, () => {
	currentPage.value = currentRoute.value.hash.slice(1)
})
</script>

<style scoped>
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
</style>
