<template>
	<nav class="pagination">
		<a
			class="page-numbers"
			:class="{ current: page === +currentPage }"
			:href="'#' + page"
			v-for="page in pages"
			:key="page"
		>
			{{ page }}
		</a>
		<a class="next page-numbers" :href="'#' + next">Next »</a>
	</nav>
</template>

<script setup lang="ts">
const props = defineProps(['pages', 'currentPage'])
const next = computed(() => (props.pages > props.currentPage ? props.currentPage / 1 + 1 : props.pages))
</script>

<style scoped></style>
