<template>
	<footer id="colophon" class="site-footer">
		<div class="container">
			<div class="site-info">
				<h1
					style="
						font-family: 'Herr Von Muellerhoff';
						color: #ccc;
						font-weight: 300;
						text-align: center;
						margin-bottom: 0;
						margin-top: 0;
						line-height: 1.4;
						font-size: 46px;
					"
				>
					Moschino
				</h1>
				<a target="blank" href="https://www.wowthemes.net/"
					>&copy; Moschino - Free HTML Template by WowThemes.net
				</a>
			</div>
		</div>
	</footer>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped></style>
